body {
    background-image: url(./assets/portfolio-background.jpg)
}

.container-port,
.container-index {
    background-color: #F3F8FF;
    padding: 25px;
    border-radius: 20px;
}

.links {
    font-size: 20px;
}

.container-contact {
    background-color: #F3F8FF;
    padding: 25px;
    width: 60%;
    border-radius: 20px;
}

.navbar {
    background-color: #557A95;
    
}

.navbar-brand {
    font-size: 32px;
    color: #696969;
    background-color: #b1a296;
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand:hover {
    color: #7395AE;
}

.nav-item a {
    font-size: 24px;
    color: #7395AE;
}

.nav-item a:hover {
    color: #5d5c61
}

.active a {
    color: #b1a296;
    font-weight: bold;
}

.navbar-toggler {
    border-color: #c1c1c1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #557A95;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 20px;
}

img {
    float: left;
}

.port-img {
    margin-right: 15px;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    background-color: #557A95;
    color: #7395AE;
  }

/* 
Different Sizing  */

@media (min-width: 250px){
    .container-index {
        width: 90%
    }
    .container-port {
        max-width: 225px;
    }
    .container-contact {
        width: 90%;
    }
}

@media (min-width: 400px){
    .container-index {
        width: 90%
    }
    .container-port {
        max-width: 250px;
    }
    .container-contact {
        width: 90%;
    }
}

@media (min-width: 768px){
    .container-index {
        max-width: 600px;
    }
    .container-port {
        max-width: 300px;
    }
    .container-contact {
        width: 60%;
    }
}

@media (min-width: 992px){
    .container-index {
        max-width: 720px;
    }
    .container-port {
        max-width: 500px
    }
    .container-contact {
        width: 55%;
    }
}