body {
    background-color: darkgrey;
}

.container-index {
    background-color: white;
    padding: 25px;
}

.container-port {
    background-color: white;
    padding: 25px;
}

.container-contact {
    background-color: white;
    padding: 25px;
    width: 60%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
p {
    font-size: 20px;
}

img {
    float: left;
}

.port-img {
    margin-right: 15px;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    background-color: steelblue;
  }

/* 
Different Sizing  */

@media (min-width: 250px){
    .container-port {
        max-width: 225px;
    }
    .container-contact {
        width: 90%;
}


@media (min-width: 400px){
    .container-port {
        max-width: 250px;
    }
    .container-contact {
        width: 90%;
    }
}

@media (min-width: 768px){
    .container-index {
        max-width: 600px;
    }
    .container-port {
        max-width: 300px;
    }
    .container-contact {
        width: 60%;
    }
}

@media (min-width: 992px){
    .container-index {
        max-width: 720px;
    }
    .container-port {
        max-width: 500px
    }
    .container-contact {
        width: 50%;
    }
}